<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Off-Site Database Koblingen deres URL:mssql1.cloudsites.gearhost.com Username:gaymerdb Passord:hSyOl042-->
    <add name="gaymerdbConnectionString" connectionString="Data Source=mssql1.cloudsites.gearhost.com;Initial Catalog=gaymerdb;Persist Security Info=True;User ID=gaymerdb;Password=hSyOl042" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authorization>
      <allow roles="Admin" />
      <deny roles="Bruker" />
    </authorization>
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <!--Set startpage til StartPage.aspx-->
        <add value="StartPage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>